@import url("/fonts/neucha/neucha.css");
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
html {
  font-size: 16px;
}

body {
  margin: 0;
  padding: 0;
  background-image: url("../images/background4.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
body h1 {
  font-family: "Neucha", cursive;
  text-transform: none;
}

.fade-in {
  animation: fadeInAnimation 1s ease-in-out;
}

.hidden {
  display: none !important;
}

.back {
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  visibility: hidden;
  opacity: 0.6;
}

.container {
  width: 100vw;
  height: 100vh;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
}

.invitation {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.invitation .message {
  width: 80vw;
  margin-bottom: 7vh;
  font-size: 0.9rem;
  letter-spacing: 0.1rem;
}
.invitation .date {
  display: grid;
  grid-template-areas: ". month ." "day date time" ". year .";
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.invitation .date > div {
  font-size: 0.8rem;
  text-align: center;
  letter-spacing: 0.3rem;
}
.invitation .date .month {
  grid-area: month;
}
.invitation .date .day {
  grid-area: day;
}
.invitation .date .dateValue {
  grid-area: date;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  font-size: 3rem;
}
.invitation .date .time {
  grid-area: time;
  letter-spacing: 0.2;
}
.invitation .date .year {
  grid-area: year;
  letter-spacing: 0.2;
}
.invitation .venue {
  width: 80vw;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  margin-top: 5vh;
  font-size: 0.9rem;
  letter-spacing: 0.2rem;
}
.invitation .links {
  display: flex;
  gap: 2vw;
  padding-top: 15vh;
  justify-content: center;
  align-items: center;
}
.invitation .links > a {
  font-size: 0.7rem;
  color: #fff;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}
.invitation .links > a:not(:last-child) {
  padding-right: 0.7rem;
}
@media (min-width: 376px) {
  .invitation .date > div {
    font-size: 1.1rem;
  }
}
@media (min-width: 576px) {
  .invitation .date > div {
    font-size: 1.5rem;
  }
  .invitation .message, .invitation .venue {
    letter-spacing: 0.2rem;
    font-size: 1rem;
  }
  .invitation h1 {
    font-size: 3rem;
  }
}
@media (min-width: 768px) {
  .invitation .date > div {
    font-size: 2rem;
  }
}

.entourage {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.7);
}
.entourage .roles {
  width: 100%;
  max-height: 75vh;
  overflow-y: auto;
  overflow-x: hidden;
  color: #d0d0d0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.entourage .roles::-webkit-scrollbar {
  display: none;
}
.entourage .roles table {
  width: 90%;
  margin: auto;
}
.entourage .roles table:last-of-type {
  margin-bottom: 100px;
}
.entourage .roles th, .entourage .roles td {
  width: 50%;
  font-size: 0.7em;
}
.entourage .roles th {
  padding-bottom: 1rem;
  letter-spacing: 0.2rem;
}
.entourage .roles table:not(:first-child) th {
  padding-top: 3rem;
}
.entourage .roles td {
  text-transform: none;
}
.entourage .roles td {
  border-bottom: 1px solid rgba(102, 102, 102, 0.5);
}
.entourage .roles tbody tr:last-child td {
  border-bottom: none;
}
@media (min-width: 376px) {
  .entourage .roles th, .entourage .roles td {
    font-size: 0.9rem;
  }
}
@media (min-width: 576px) {
  .entourage .roles th, .entourage .roles td {
    font-size: 1rem;
  }
}
@media (min-width: 768px) {
  .entourage .roles th, .entourage .roles td {
    font-size: 1.1rem;
  }
}
@media (min-width: 920px) {
  .entourage .roles th, .entourage .roles td {
    font-size: 1.3rem;
  }
}
@media (min-width: 1240px) {
  .entourage .roles table {
    width: 60%;
  }
}
@media (min-width: 1366px) {
  .entourage .roles table {
    width: 50%;
  }
}
@media (min-width: 1780px) {
  .entourage .roles table {
    width: 40%;
  }
}

.attire {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
}
.attire h1 {
  margin-bottom: 0;
}
.attire .preview {
  width: 90vw;
}
.attire .preview img {
  width: 50%;
  opacity: 0.8;
}
.attire .preview .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vh;
  padding-top: 20px;
  padding-bottom: 60px;
  color: #d0d0d0;
}
.attire .preview .details p {
  text-transform: none;
}
.attire .preview .details p b {
  display: inline-block;
  width: 32px;
  height: 32px;
  border-radius: 100px;
  margin: 0 10px;
}
@media (min-width: 376px) {
  .attire .preview img {
    width: 45%;
  }
}
@media (min-width: 576px) {
  .attire .preview img {
    width: 40%;
  }
}
@media (min-width: 768px) {
  .attire .preview img {
    width: 35%;
  }
}
@media (min-width: 920px) {
  .attire .preview img {
    width: 30%;
  }
}
@media (min-width: 1240px) {
  .attire .preview img {
    width: 25%;
  }
}
@media (min-width: 1366px) {
  .attire .preview img {
    width: 20%;
  }
}
@media (min-width: 1780px) {
  .attire .preview img {
    width: 15%;
  }
}

.gifts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: none;
  background-color: rgba(0, 0, 0, 0.8);
  color: #d0d0d0;
}
.gifts h3 {
  font-family: "Neucha", cursive;
  text-transform: uppercase;
}
.gifts h3:last-of-type {
  margin-top: 10vh;
}
.gifts .details {
  width: 80vw;
  line-height: 1.7rem;
}
.gifts .bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
.gifts .bg img {
  position: absolute;
  opacity: 0.1;
  width: 50%;
  right: -35px;
  bottom: 30px;
  transform: rotate(-30deg);
}
@media (min-width: 800px) {
  .gifts .bg img {
    width: 30%;
    bottom: 0px;
  }
}
@media (min-width: 376px) {
  .gifts .details {
    width: 75vw;
  }
}
@media (min-width: 576px) {
  .gifts .details {
    width: 70vw;
  }
}
@media (min-width: 768px) {
  .gifts .details {
    width: 60vw;
  }
}
@media (min-width: 920px) {
  .gifts .details {
    width: 50vw;
  }
}
@media (min-width: 1240px) {
  .gifts .details {
    width: 40vw;
  }
}
@media (min-width: 1366px) {
  .gifts .details {
    width: 30vw;
  }
}
@media (min-width: 1780px) {
  .gifts .details {
    width: 20vw;
  }
}

.rsvp {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  justify-content: flex-start;
  align-items: center;
  text-transform: none;
  background-color: rgba(0, 0, 0, 0.9);
  color: #d0d0d0;
}
.rsvp h1 {
  margin-top: 10vh;
}
.rsvp h3, .rsvp h4 {
  font-weight: normal;
}
.rsvp h3:nth-child(2) {
  margin-top: 50px;
}
.rsvp .details, .rsvp .form {
  width: 85vw;
}
.rsvp .details {
  text-align: center;
  border-top: 1px dashed #d0d0d0;
  border-bottom: 1px dashed #d0d0d0;
}
.rsvp .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 25vh;
  margin-top: 40px;
  text-align: center;
}
.rsvp .form input {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: 1px solid #d0d0d0;
  color: #d0d0d0;
  text-indent: 1rem;
}
.rsvp .form div.buttons {
  width: 101%;
  display: flex;
  justify-content: space-between;
}
.rsvp .form div.buttons button {
  width: 48%;
  height: 30px;
  color: #d0d0d0;
  border: none;
  font-weight: bolder;
  cursor: pointer;
}
.rsvp .form div.buttons button.accept {
  background-color: rgba(4, 204, 4, 0.5);
}
.rsvp .form div.buttons button.regret {
  background-color: rgba(204, 31, 4, 0.5);
}
.rsvp .form div.buttons button.disabled {
  background-color: gray;
}
.rsvp .form div.thanks {
  visibility: hidden;
}
@media (min-width: 376px) {
  .rsvp .details, .rsvp .form {
    width: 75vw;
  }
}
@media (min-width: 576px) {
  .rsvp .details, .rsvp .form {
    width: 65vw;
  }
}
@media (min-width: 768px) {
  .rsvp .details, .rsvp .form {
    width: 55vw;
  }
}
@media (min-width: 920px) {
  .rsvp .details, .rsvp .form {
    width: 45vw;
  }
}
@media (min-width: 1240px) {
  .rsvp .details, .rsvp .form {
    width: 35vw;
  }
}
@media (min-width: 1366px) {
  .rsvp .details, .rsvp .form {
    width: 25vw;
  }
}
@media (min-width: 1780px) {
  .rsvp .details, .rsvp .form {
    width: 15vw;
  }
}

/*# sourceMappingURL=main.css.map */
