@import url('/fonts/neucha/neucha.css');

@keyframes fadeInAnimation {
    from { opacity: 0; }
    to   { opacity: 1; }
}

html {
    font-size: 16px;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("../images/background4.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;

    h1 {
        font-family: 'Neucha', cursive;
        text-transform: none;
    }
}

.fade-in {
    animation: fadeInAnimation 1s ease-in-out;
}

.hidden {
    display: none !important;
}

.back {
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 20px;
    visibility: hidden;
    opacity: 0.6;
}

.container {
    width: 100vw;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
    background-color: rgba(0,0,0,0.6);
}

.invitation {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-align: center;

    .message {
        width: 80vw;
        margin-bottom: 7vh;
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
    }
    
    .date {
        display: grid;
        grid-template-areas: 
            ". month ."
            "day date time"
            ". year .";
        justify-content: center;
        align-items: center;
        gap: 10px;

        > div {
            font-size: 0.8rem;
            text-align: center;
            letter-spacing: 0.3rem;
        }

        .month {
            grid-area: month;
        }

        .day {
            grid-area: day;
        }

        .dateValue {
            grid-area: date;
            border-left: 1px solid #fff;
            border-right: 1px solid #fff;
            font-size: 3rem;
        }

        .time {
            grid-area: time;
            letter-spacing: 0.2;
        }

        .year {
            grid-area: year;
            letter-spacing: 0.2;
        }
    }
    
    .venue {
        width: 80vw;
        display: flex;
        flex-direction: column;
        gap: 5vh;
        margin-top: 5vh;
        font-size: 0.9rem;
        letter-spacing: 0.2rem;
    }
    
    .links {
        display: flex;
        gap: 2vw;
        padding-top: 15vh;
        justify-content: center;
        align-items: center;
    
        > a {
            font-size: 0.7rem;
            color: #fff;
            transition: all 0.3s ease-in-out;
            text-decoration: none;

            &:not(:last-child) {
                // border-right: 1px solid #fff;
                padding-right: 0.7rem;
            }
        }
    }
    
    @media (min-width: 376px) {
        .date > div {
            font-size: 1.1rem;
        }
    }
    
    @media (min-width: 576px) {
        .date > div {
            font-size: 1.5rem;
        }
    
        .message, .venue {
            letter-spacing: 0.2rem;
            font-size: 1rem;
        }

        h1 {
            font-size: 3rem;
        }
    }
    
    @media (min-width: 768px) {
        .date > div {
            font-size: 2rem;
        }
    }
}

.entourage {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background-color: rgba(0,0,0,0.7);

    .roles {
        width: 100%;
        max-height: 75vh;
        overflow-y: auto;
        overflow-x: hidden;
        color: #d0d0d0;

        -ms-overflow-style: none; // IE / Edge
        scrollbar-width: none;    // Moz Firefox
        &::-webkit-scrollbar { display: none; } // Chrome / Safari

        table { 
            width: 90%; 
            margin: auto;
        }

        th, td {
            width: 50%;
            font-size: 0.7em;
        }

        th { 
            padding-bottom: 1rem;
            letter-spacing: 0.2rem; 
        }

        table:not(:first-child) th { padding-top: 3rem; }

        td { text-transform: none; }
        td {
            border-bottom: 1px solid rgba(102, 102, 102, 0.5);
        }
        tbody tr:last-child td {
            border-bottom: none;
        }

        @media (min-width: 376px) {
            th, td { font-size: 0.9rem; }
        }

        @media (min-width: 576px) {
            th, td { font-size: 1rem; }
        }

        @media (min-width: 768px) {
            th, td { font-size: 1.1rem; }
        }

        @media (min-width: 920px) {
            th, td { font-size: 1.3rem; }
        }

        @media (min-width: 1240px) {
            table { width: 60%; }
        }

        @media (min-width: 1366px) {
            table { width: 50%; }
        }

        @media (min-width: 1780px) {
            table { width: 40%; }
        }
    }
}

.attire {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    background: rgba(0,0,0,0.9);

    h1 { margin-bottom: 0; }

    .preview {
        width: 90vw;

        img {
            width: 50%; 
            opacity: 0.8; 
        }

        .details {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 40vh;
            padding-top: 20px;
            padding-bottom: 60px;
            color: #d0d0d0;

            p {
                text-transform: none;

                b {
                    display: inline-block;
                    width: 32px;
                    height: 32px;
                    border-radius: 100px;
                    margin: 0 10px;
                }
            }
        }
        
        @media (min-width: 376px) {
            img { width: 45%; }
        }

        @media (min-width: 576px) {
            img { width: 40%; }
        }

        @media (min-width: 768px) {
            img { width: 35%; }
        }

        @media (min-width: 920px) {
            img { width: 30%; }
        }

        @media (min-width: 1240px) {
            img { width: 25%; }
        }

        @media (min-width: 1366px) {
            img { width: 20%; }
        }

        @media (min-width: 1780px) {
            img { width: 15%; }
        }
    }
}

.rsvp {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    justify-content: flex-start;
    align-items: center;
    text-transform: none;
    background-color: rgba(0,0,0,0.9);
    color: #d0d0d0;

    h1 { margin-top: 10vh; }

    h3, h4 { font-weight: normal; }
    h3:nth-child(2) { margin-top: 50px }

    .details, .form { width: 85vw; }

    .details {
        text-align: center;
        border-top: 1px dashed #d0d0d0;
        border-bottom: 1px dashed #d0d0d0;
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 25vh;
        margin-top: 40px;
        text-align: center;

        input {
            width: 100%;
            height: 30px;
            background-color: transparent;
            border: 1px solid #d0d0d0;
            color: #d0d0d0;
            text-indent: 1rem;
        }

        div.buttons {
            width: 101%;
            display: flex;
            justify-content: space-between;
            
            button {
                width: 48%;
                height: 30px;
                color: #d0d0d0;
                border: none;
                font-weight: bolder;
                cursor: pointer;

                &.accept { background-color: rgba(4, 204, 4, 0.5); }
                &.regret { background-color: rgba(204, 31, 4, 0.5); }

                &.disabled {
                    background-color: gray;
                }
            }
        }

        div.thanks { visibility: hidden; }
    }

    

        
    @media (min-width: 376px) {
        .details, .form { width: 75vw; }
    }

    @media (min-width: 576px) {
        .details, .form { width: 65vw; }
    }

    @media (min-width: 768px) {
        .details, .form { width: 55vw; }
    }

    @media (min-width: 920px) {
        .details, .form { width: 45vw; }
    }

    @media (min-width: 1240px) {
        .details, .form { width: 35vw; }
    }

    @media (min-width: 1366px) {
        .details, .form { width: 25vw; }
    }

    @media (min-width: 1780px) {
        .details, .form { width: 15vw; }
    }
}